header {
    background-color: var(--red-color);
    background: var(--header-gradient);
    text-align: center;
}

main {
    background-color: var(--light-orange-color);
}

footer {
    color: var(--white-color);
    background-color: var(--black-color);
    text-align: center;
    font-weight: 300;
    font-size: small;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}